@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -ms-text-size-adjust: 100%;
    font-weight: 4  00;
    line-height: 1.42;
    color: rgba(0,0,0,0.9);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
  
html {
    scroll-behavior: smooth;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin:0;
}

body {
    background-repeat: no-repeat;
    background-position: center top;
}

div {
    box-sizing: border-box;
}

#__next {
    height:100%;
    flex: 1 1;
    -ms-flex: 1 0 0px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure {
    margin:0;
    padding:0;
}

figure img {
    width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

/*
|--------------------------------------------------------------------------
| Baseline Classes
|--------------------------------------------------------------------------
*/

.text-center {
    text-align:center;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.w-35px {
    width: 35px !important;
}

.h-35px {
    height: 35px !important;
}

@media (min-width: 768px) {
    .w-md-40px {
        width: 40px !important;
    }
    .h-md-40px {
        height: 40px !important;
    }
}

.truncate, .whitespace-nowrap {
    white-space: nowrap;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}


/*
|--------------------------------------------------------------------------
| Lists Global
|--------------------------------------------------------------------------
*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol, ul {
    list-style: none;
    padding: 0;
}


/*
|--------------------------------------------------------------------------
| Links Global
|--------------------------------------------------------------------------
*/

a {
    text-decoration:none;
    color: #006BD4;
}

a {
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    font-weight:400;
    display: block;
}

a, .link {
    color: #06c;
    letter-spacing: inherit;
}

/*
|--------------------------------------------------------------------------
| Containers Global
|--------------------------------------------------------------------------
*/

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding:0 25px;
    width:100%;
}

.container-fluid-large {
    padding-right: 25px;
    padding-left: 25px;
}

@media (min-width: 768px) {
    .container-fluid-large {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1200px) {
    .container-fluid-large {
        padding-right: 72px;
        padding-left: 72px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding: 0 30px;
    }
}

.container-fluid--lg {
    padding:0 100px;
}

.container-master {
    position: relative;
    width: 1905px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 66px;
    padding-right: 66px;
    clear: both;
}

@media (max-width: 1024px) {
    .container-master {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.container-1480 {
    max-width:1480px;
}

.container-1260 {
    max-width:1260px;
}

.container-1200 {
    max-width:1200px;
}

.container-1120 {
    max-width:1120px;
}

.container-1012 {
    max-width:1012px;
}

.container-980 {
    max-width:980px;
}

.container-840 {
    max-width:840px;
}

.container-780 {
    max-width:780px;
}

.container-768 {
    max-width:768px;
}

.container-full {
    padding-right: 72px;
    padding-left: 72px;
}

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0
}

h1 {
    font-size: 32px;
    font-weight: 600
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 20px;
    font-weight: 600
}

h4 {
    font-size: 16px;
    font-weight: 600
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-weight: 600
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
}

.btn-primary {
    color: rgb(24, 26, 32);
    background-color: #f6f8fa;;
    border-color: rgba(28,31,36,0.15);
    box-shadow: 0 1px 0 rgba(27,31,36,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
}

.btn-blue {
    background:#0a95ff;
    color:#fff;
}

.btn.btn-grey {
    color: #24292f;
    background-color: #f6f8fa;
    border-color: rgba(27,31,36,0.15);
    box-shadow: rgba(27,31,36,0.15),inset 0 1px 0 rgba(255,255,255,0.25);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
}

.btn-sm {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}


.button-spacer {
    display: inline-block;
}

.button-spacer {
    padding-right:10px;
}

.button-spacer:last-of-type {
    padding-right:0;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color:#fff;
    fill:#fff;
    border:0;
    box-shadow:none;
}

/*
|--------------------------------------------------------------------------
| Colors & Backgrounds
|--------------------------------------------------------------------------
*/

.text-white {
    color:#fff;
}

.bg-inset {
    background:#f6f8fa;
}

/*
|--------------------------------------------------------------------------
| States
|--------------------------------------------------------------------------
*/

.relative {
    position:relative;
}

.p-relative {
    position:relative;
}

.p-absolute {
    position:absolute;
}

.p-fixed {
    position:fixed;
}

.p-sticky {
    position:sticky;
}

.d-block {
    display:block;
}

.d-inline-block {
    display:inline-block;
}

/*
|--------------------------------------------------------------------------
| FlexBox
|--------------------------------------------------------------------------
*/

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-root {
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1 0 0px;
    height:100%;
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex-row-fluid {
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
}

.flex-grow-1 {
    flex-grow: 1!important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content:center;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-items-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-auto {
    flex: auto!important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .justify-content-lg-start {
        justify-content: flex-start !important;
    }
}

@media (min-width: 1280px) {
    .d-xl-block {
        display: block !important;
    }
}

/*
|--------------------------------------------------------------------------
| Header Component
|--------------------------------------------------------------------------
*/

.header {
    position: relative;
    z-index: 101;
    transition: left ease;
    top:0;
    left:0;
    right:0;
    position:absolute;
    background:transparent;
    height:60px;
    display:flex;
    background-color: #24292f;
    border:1px solid;
    border-color: rgba(15,23,42,.1);
}

.header #center {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
}

.header #end {
    display: flex;
    align-items: stretch;
}

.header .header-logo {
    color:#fff;
}

.app-navbar {
    display: flex;
    align-items: stretch;
}

.app-navbar .app-navbar-item {
    display: flex;
    align-items: stretch;
}

.avatar-btn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-btn .avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;
}

.avatar-btn .avatar img {
    max-width:100%;
    max-height:100%;
    display:block;
}

.avatar-btn .avatar span {
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    display:block;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#000;
    font-weight:700;
}


/*
|--------------------------------------------------------------------------
| Assesssment Header Component
|--------------------------------------------------------------------------
*/

.assessment-content {
    padding-bottom:6%;
}

.assessment-header {
    background:#f6f8fa;
    box-shadow: inset 0 -1px 0 hsla(210,18%,87%,1);
    display:flex;
    align-items:center;
}

.assessment-header .url {
    font-weight: 500;
}

.assessment-toolbar {
    padding-top:24px;
    padding-bottom:24px;
}

.assessment-title {
    font-size:20px;
}

.assessment-type {
    display: flex;
    align-items:center;
    padding: 0 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    border:1px solid #d0d7de;
    margin-left:10px;
}

.assessment-tabs {
    min-height: 48px;
    display: flex;
}

.assessment-tabs ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none !important;
}

.assessment-tabs ul li {
    display: inline-flex !important;
}

.assessment-tabs ul li a {
    white-space: nowrap !important;
    position: relative;
    display: flex;
    padding: 0 8px;
    font-size: 14px;
    line-height: 30px;
    color: #24292f;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    align-items: center;
}

.assessment-tabs ul li a:hover {
    color: #24292f;
    text-decoration: none;
    background: rgba(208,215,222,0.32);
    transition: .12s ease-out;
}

.assessment-tabs ul li a svg {
    margin-right: 8px;
    color: #57606a;
    fill: #57606a;
    display: inline !important;
    vertical-align: text-bottom;
}

/*
|--------------------------------------------------------------------------
| Dropdown Component
|--------------------------------------------------------------------------
*/


.dropdown-btn-1 {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;

    border-color:rgba(27,31,36,0.15);
    background-color:#f3f4f6;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:0;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-left: 8px;
    opacity: .8;
}

.select-version {
    width:100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    border:1px solid #d0d7de;
    background-color:#f6f8fa;
}

.dropdown-1 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: 0;
}

.dropdown-1 .dropdown-modal {
    border:1px solid #d0d7de;
    width: 300px;
    height: auto;
    max-height: 480px;
    margin: 8px 0 16px 0;
    font-size: 12px;
    border-radius: 6px;
    position: relative;
    z-index: 99;
    display: flex;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    background:#ffffff;
}

.dropdown-1 .dropdown-modal .link {
    font-weight: 500;
    color:#24292f;
    border-bottom:hsla(210,18%,87%,1) 1px solid;
    background:#ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
}

.dropdown-1 .dropdown-modal .link svg {
    width: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    display:none;
}

.dropdown-1 .dropdown-modal .link.current svg {
    display:inline-block;
}

.dropdown-1 .dropdown-modal .link:hover {
    background:rgba(234,238,242,0.5);
}

/*
|--------------------------------------------------------------------------
| ListBox Component
|--------------------------------------------------------------------------
*/

.listbox-btn {
    padding-right: 2.5rem;
    padding-left: 0.75rem;
    text-align: left;
    position:relative;
}

.listbox-btn-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.listbox-btn-icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

.listbox {
    position: absolute;
    height: auto;
    max-height: 480px;
    margin: 8px 0 16px 0;
    font-size: 12px;
    border-color: #d0d7de;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(140,149,159,0.2);
    background:#fff;
    overflow: hidden;
    pointer-events: auto;
    flex-direction: column;
    z-index: 99;
    display: flex;
    min-width:200px;
}

.listbox-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    overflow: hidden;
    color: #24292f;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid hsla(210,18%,87%,1);
    font-weight: 600;
}

/*
|--------------------------------------------------------------------------
| Subheader Component
|--------------------------------------------------------------------------
*/

.subheader {
    z-index: 100;
    transition: left ease;
    position:absolute;
    top:100px;
    left:0;
    right:0;
    height:75px;
    background:#1e1e1e;
}

/*
|--------------------------------------------------------------------------
| Table Component
|--------------------------------------------------------------------------
*/

table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td, table th {
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #dadce0;
}

table td {
    /* border-left: none; */
}



/*
|--------------------------------------------------------------------------
| Toolbar Component
|--------------------------------------------------------------------------
*/

.toolbar {
    top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color:  #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom:1px solid #e6e6e6;
}

.tab-base {
    font-weight: 400;
    height: 100%;
    color:  #000;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.tab-selected {
    color:rgba(0, 0, 0, .8);
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.nav-path {
    display:flex;
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.nav-path .spacer {
    margin-right:6px;
    margin-left:6px;
}

.nav-path a {
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
}

.nav-path a:hover {
    text-decoration: underline;
}

/*
|--------------------------------------------------------------------------
| input Component
|--------------------------------------------------------------------------
*/

.form-group dt, .form-group .form-group-header {
    margin: 0 0 6px;
}

dd {
    margin:0;
}

.form-control, .form-select {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292f;
    vertical-align: middle;
    background-color: #f6f8fa;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(208,215,222,0.2);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    max-width: 100%;
    margin-right: 5px
}

.form-group .form-control.short {
    width: 250px;
}

.form-control:focus {
    border-color: transparent;
    border-color: #0969da !important;
    outline: none;
    box-shadow: inset 0 0 0 1px transparent;
}

/*
|--------------------------------------------------------------------------
| Footer Component
|--------------------------------------------------------------------------
*/

.footer {
    display: flex;
    position: relative;
    width: 100%;
    color: #ffffff;
    background: #161616;
    height:80px;
}

/*
|--------------------------------------------------------------------------
| Modal Component
|--------------------------------------------------------------------------
*/

.dialog {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
}

.dialog-exit {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    cursor: url('/images/modalCloseIcon.cur') 22 22, pointer;
}

.dialog-backdrop {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:998;
    background-color: #2f3137;
}

.dialog-panel {
    position:relative;
    z-index:999;
}

.dialog-content {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.dialog-panel {
    width: 100vw;
    height: 100%;
    max-height: 100%;
    padding: 0 !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dialog-panel img {
    flex: 0 0 auto;
    width: auto !important;
    height: auto !important;
    max-width: 94vw !important;
    max-height: 80% !important;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 60px 140px -20px rgb(0 0 0 / 60%);
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.dialog-close {
    position:absolute;
    top:0;
    right:0;
    width:70px;
    height:70px;
}

.dialog-close .close-btn {
    position:relative;
    z-index:999;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.dialog-close .close-btn:after, .dialog-close .close-btn:before {
    content: "";
    position: absolute;
    top: 33px;
    right: 27px;
    width: 20px;
    height: 3px;
    background: #202121;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.dialog-close .close-btn:after {
    transform: rotate(-45deg);
}

/*
|--------------------------------------------------------------------------
| Image Portrait Component
|--------------------------------------------------------------------------
*/

.image-portrait {
    padding-top:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.image-portrait img {
    max-width:600px;
    max-height:600px;
}

/*
|--------------------------------------------------------------------------
| Box Component
|--------------------------------------------------------------------------
*/

.box {
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #d0d7de;;
    border-radius: 6px;
}

.box-header {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px;
    margin: -1px -1px 0;
    background-color: #f6f8fa;
    border-color: #d0d7de;;
    border-style: solid;
    border-width: 1px;
}

.box-body {
    padding:25px;
}

/*
|--------------------------------------------------------------------------
| Card Component
|--------------------------------------------------------------------------
*/

.card {
    background:#fff;
}

.card-body {
    
}

.card-image .thumbnail-base {
    position: relative;
    height: 0;
    padding-top: 106%;
    overflow: hidden;
    border-radius: 20px;
}

.card-image .thumbnail-base .thumbnail-placeholder:before {
    content: "";
    display: block;
    padding-top: 106%;
}

.card-image .thumbnail-base .thumbnail-placeholder>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.card-image .thumbnail-base .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-in-out
}

/*
|--------------------------------------------------------------------------
| Gallery Component
|--------------------------------------------------------------------------
*/

/* .gallery article {
    backface-visibility: hidden;
    float: left;
    width: 33.33333333%;
    line-height: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.33333333vw;
}

.gallery article a {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gallery article img {
    display: inline !important;
    transition: transform 0.6s ease, opacity 0.2s ease;
    height: auto !important;
    width: auto !important;
    max-width: 24vw !important;
    max-height: 24vw !important;
    margin: 0 !important;
    box-shadow: 0px 60px 140px -20px rgb(0 0 0 / 60%);
}

.gallery article:nth-child(9n+1) {
    background-color: #2f3137;
}

.gallery article:nth-child(9n+2) {
    background-color: #9299a1;
}

.gallery article:nth-child(9n+3) {
    background-color: #c3c7ce;
}

.gallery article:nth-child(9n+4) {
    background-color: #b2aeab;
}

.gallery article:nth-child(9n+5) {
    background-color: #fbe7ce;
}

.gallery article:nth-child(9n+6) {
    background-color: #cbccc3;
}

.gallery article:nth-child(9n+7) {
    background-color: #202a33;
}

.gallery article:nth-child(9n+8) {
    background-color: #b2aeab;
}

.gallery article:nth-child(9n+9) {
    background-color: #f1f1f1;
} */


/*
|--------------------------------------------------------------------------
| Painting List Renderer Component
|--------------------------------------------------------------------------
*/

.gallery {
    padding: 40px 0;
}

.art-list-renderer ol {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding-left:25px;
    padding-right:25px;
}

@media (min-width: 768px) {
    .art-list-renderer ol {
        padding-right: 32px;
        padding-left: 32px;
    }   
}

@media (min-width: 1200px){
    .art-list-renderer ol {
        padding-right: 72px;
        padding-left: 72px;
    }
}

@media (min-width: 1600px) {
    .art-list-renderer ol {
        grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    }
}

.art-list-renderer ol li {
    position: relative;
    display: block;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}


.art-list-renderer ol li a .thumbnail-base {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.art-list-renderer ol li a .thumbnail-base .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: .3s;
    transition-timing-function: ease-in-out
}

.art-list-renderer ol li a .art-content {
    padding: 10px;
}

.art-list-renderer ol li a .art-title {
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display:flex;
}

.art-list-renderer ol li a .art-title .title-text {
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
}

.art-list-renderer ol li a:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    z-index: 99;
    width: 100%;
    height: 100%;
    max-width: 100%;
    color: #fff !important;
    margin: 0 !important;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    background-image: url('/images/add-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: content-box;
    transform: scale(1.5);
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.art-list-renderer ol li a:hover:after {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.05s cubic-bezier(0.19, 1, 0.22, 1), transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

/*
|--------------------------------------------------------------------------
| Score Component
|--------------------------------------------------------------------------
*/

.score {
    font-size:20px;
}

.score span:nth-child(2) {
    padding-left:8px;
}

/*
|--------------------------------------------------------------------------
| Spacing 
|--------------------------------------------------------------------------
*/

.my-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}

@media (min-width: 1280px) {
    .my-xl-2 {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
}

.ms-2 {
    margin-left: 0.5rem !important;
}

@media (min-width: 992px) {
    .ms-lg-3 {
        margin-left: 0.75rem !important;
    }
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top:16px !important;
}

.mb-3 {
    margin-bottom: 16px !important;
}

.mb-5 {
    margin-bottom:32px !important;
}

.mt-5 {
    margin-top: 32px !important;
}

.mx-0 {
    margin-left:0 !important;
    margin-right:0 !important;
}

.p-3 {
    padding: 16px !important;
}

.fw-400 {
    font-weight:400;
}

.fw-500 {
    font-weight:500;
}

.fw-600 {
    font-weight:600;
}

.color-default {
    color:#24292f;
}

.w-10px {
    width: 10px !important;
}

.h-10px {
    height: 10px !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.pt-4 {
    padding-top: 24px !important;
}

/*
|--------------------------------------------------------------------------
| Bullet Component
|--------------------------------------------------------------------------
*/

.bullet {
    display: inline-block;
    flex-shrink: 0;
}

.bullet.bullet-dot {
    border-radius: 100% !important;
}

.bg-success {
    background:#50cd89;
}

.bg-warning {
    background:#ffc700;
}

/*
|--------------------------------------------------------------------------
| Badge Component
|--------------------------------------------------------------------------
*/

.badge {
    display: inline-flex;
    align-items: center;
    color:#333;
    padding-bottom:0.325rem;
    padding-top:0.325rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.badge.badge-light-success {
    color: #50cd89;
    background-color: #e8fff3;
}

/*
|--------------------------------------------------------------------------
| Select Page Component
|--------------------------------------------------------------------------
*/

.select-page {
    display: flex;
    margin: 32px 32px 0;
    padding-bottom: 32px;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
}

.select-page .sidebar {
    width: 250px;
    margin-right: 50px;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
}

.select-page .content {
    width: calc(100% - 300px);
    max-width: 1500px;
}

.select-page .sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.select-page .sidebar ul li {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px;
    font-weight: 500;
    margin: 0 0 4px;
    transition: all .2s ease;
    cursor: default;
}

.select-page .sidebar ul li a {
    color: rgba(0,0,0,0.9);
}

.select-page .sidebar ul li a svg {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.select-page .sidebar ul li.active {
    background:#edf5fa;
    border-radius:6px;
}

/*
|--------------------------------------------------------------------------
| Searchbox Components
|--------------------------------------------------------------------------
*/

.searchbox {
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
}

.search-form {
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}

.search-container {
    position: relative;
    align-items: center;
    background-color: #24292f;
    border: 1px solid #57606a;
    box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
    color: #fff;
    padding: 2px 6px;
    margin-left: 34px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding-left:40px;
}

.search-container .search-icon {
    position:absolute;
    left:10px;
    top:50%;
    margin-top:-12px;
}

.search-container .search-icon svg {
    fill: rgb(151, 154, 156);
}

.search-form .search-input {
    width:100%;
}

.search-form .search-input input {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    -ms-flex-preferred-size: 0.000000001px;
    flex-basis: 1e-9px;
}

/*
|--------------------------------------------------------------------------
| Card Component
|--------------------------------------------------------------------------
*/

.card {
    /* padding:16px; */
    /* border:1px solid #eaecef; */
    border: 1px solid rgb(218,220,224);
    /* box-shadow:0 3px 6px rgba(140,149,159,0.15); */
    border-radius:8px;
    height: 100% !important;
}

.card .card-header {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    justify-content: space-between !important;
    display: flex !important;
    padding: 24px;
    background-color: #f6f8fa;
    border-bottom:1px solid #d0d7de;
}

.card .card-header .header-title {
    font-weight: 600;
}

.card .card-body {
    padding:24px;
}

/*
|--------------------------------------------------------------------------
| List Component
|--------------------------------------------------------------------------
*/

.ul-1 {
    list-style-type: circle;
    padding-left:24px;
}

.ul-1 li {
    padding-bottom:8px;
}

/*
|--------------------------------------------------------------------------
| Widget Components
|--------------------------------------------------------------------------
*/

.widget-1 {
    
}

.widget-1 .item {
    border-top: 1px solid #eaeaea;
    border-radius: 5px;

    position: relative;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}

.widget-1 .item:last-of-type {
    border-bottom: 1px solid #eaeaea;
}

@media screen and (min-width: 601px) and (max-width: 960px){
    .container.md-row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 961px) {
    .container.lg-row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.widget-1 .item .container > div:nth-child(1) {
    display: flex;
    position: relative;
    min-width: 1px;
    max-width: 100%;
    flex: 0 1 324px;
    align-items: center;
}

.widget-1 .item .container > div:nth-child(2), .widget-1 .item .container > div:nth-child(3) {
    margin-left: calc(24px * 0.6666666666666666);
}

.widget-1 .item .container > div:nth-child(2) {
    flex:1;
}

.widget-1 .item .container > div:nth-child(3) {
    flex: 0 1 324px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
}

/*
|--------------------------------------------------------------------------
| Menu Component
|--------------------------------------------------------------------------
*/

.menu, .menu-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-column {
    flex-direction: column;
    width: 100%;
}

.menu-item {
    display: block;
}

/*
|--------------------------------------------------------------------------
| New Action Topbar
|--------------------------------------------------------------------------
*/

.new-action-topbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    padding: 0 12px 0 30px;
    cursor: default;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(272px,1fr));
    grid-gap: 32px 32px;
    padding-top:25px;
    padding-bottom:25px;
    position: -webkit-sticky;
    position: sticky;
    top: 97px;
    z-index: 2;
    background-color: #fff;
    box-sizing: border-box;
    grid-row-gap: 16px;
    row-gap: 16px;
}

.new-action-topbar a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    height: 72px;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .2s;
}

.new-action-topbar a:hover {
    background:#f5f5f5;
}

.new-action-topbar a .action-start-icon {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-action-topbar a .action-text {
    flex-grow: 1;
    color:#000;
}

.new-action-topbar a .action-end-icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(0, 0, 0, .8);
}



/*
|--------------------------------------------------------------------------
| Aside Component
|--------------------------------------------------------------------------
*/

.aside {
    transition: width 0.3s ease;
    position: fixed;
    z-index: 105;
    top: 60px;
    bottom: 0;
    left: 0;
    display:none;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #eaecef;
}

.aside-enabled .aside {
    width:265px;
    display:flex;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    /* border-radius: 0 50px 50px 0; */
    padding: 0 16px 0 8px;
    transition: none;
    outline: none !important;
    height: 32px;
}

.menu-item:hover .menu-link {
    background-color: #f5f5f5;
    transition: background-color .4s;
}

.menu-item.active .menu-link {
    background: rgb(232,240,254);
}

.aside .menu .menu-item.here > .menu-link {
    transition: color 0.2s ease;
}

.menu-item .menu-link .menu-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
}

.menu-item .menu-link .menu-icon svg {
    fill: rgb(60,64,67);
    width:16px;
}

.menu-item .menu-link .menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size:11px;
}

.menu-item .menu-link .menu-arrow {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 5px;
    width: 9px;
    height: 9px;
}

/*
|--------------------------------------------------------------------------
| Separators
|--------------------------------------------------------------------------
*/

.separator {
    min-width: 0px;
    margin: 0.65rem 1rem;
    height: 1px;
    background-color: rgb(234, 236, 239);
}

/*
|--------------------------------------------------------------------------
| Layout structure -- keep at end of file!
|--------------------------------------------------------------------------
*/

.page-renderer {
    min-height:calc(100vh - 60px);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background:#f6f8fa;
}

.padded {
    padding-top:4%;
    padding-bottom:8%;
}

.aside {

}

.wrapper {
    transition: padding-left 0.3s ease;
    position:relative;
    padding-top:60px;
    flex: 1 1;
    -ms-flex: 1 0 0px;
    min-height: 100%;
}

.aside-enabled .wrapper {
    padding-left:265px;
}